\build\classes
\nbproject\
nbproject/private/private.properties
build.xml
.project
.gitattributes
.classpath
build/classes/juego_fernando_lamas_ifts_diesciseis/Arranque.class
build/classes/juego_fernando_lamas_ifts_diesciseis/Consultar
build/classes/juego_fernando_lamas_ifts_diesciseis/Entidad/EntidadHumana.class
build/classes/juego_fernando_lamas_ifts_diesciseis/Sistemas/CreadorDePersonajes.class
nbproject/genfiles.properties
nbproject/build-impl.xml
manifest.mf
LICENSE
README.md
nbproject/project.xml
nbproject/project.properties
src/juego_fernando_lamas_ifts_diesciseis/Entidad/Aldeano.java
src/juego_fernando_lamas_ifts_diesciseis/Consultar
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/Salud.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/Mision.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/Inventario.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/Experiencia.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/EsJugador.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Personaje/Dialogador.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Lugar/Social.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Item/Defensa.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Item/Carga.java
src/juego_fernando_lamas_ifts_diesciseis/Componente/Actividad.java
src/juego_fernando_lamas_ifts_diesciseis/Sistemas/CreadorDeLugares.java
src/juego_fernando_lamas_ifts_diesciseis/Sistemas/CreadorDeItems.java
src/juego_fernando_lamas_ifts_diesciseis/Sistemas/CreadorDeCombates.java
src/juego_fernando_lamas_ifts_diesciseis/Lugar/Recepcion.java
src/juego_fernando_lamas_ifts_diesciseis/Item/Grog.java
src/juego_fernando_lamas_ifts_diesciseis/Entidad/Situacion/EventoCombate.java
src/juego_fernando_lamas_ifts_diesciseis/Sistemas/Inventario.java
src/juego_fernando_lamas_ifts_diesciseis/Sistemas/Navegacion.java
